





.container{
    width:200px;
    height: 800px;
    background-color: blue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: left; */
    /* justify-content: center; */
    /* justify-content: end; */
    /* align-content: baseline; */
    /* align-content:stretch; */
    align-items: end;
}
.wrap {
    width: 800px;
    height: 800px;
    background-color:violet;
}
.container .item{
    background-color: orange;
    border: 3px dashed whitesmoke;
    
}


.container .item:nth-child(1){
    width: 100px;
    height: 100px;
    
    
}
.container .item:nth-child(2){
    width: 140px;
    height: 70px;
    
}
.container .item:nth-child(3){
    width: 70px;
    height: 140px;
}
.container .item:nth-child(4){
    width: 170px;
    height: 150px;
}
